header .song_side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('bg5.png') no-repeat;
    z-index: -1;
}
header .song_side{
    z-index: 2;
    overflow: auto;
    scroll-behavior: smooth;
}
header .song_side::-webkit-scrollbar{
    display: none;
}
header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav ul{
    display: flex;
}
header .song_side nav ul li{
   list-style: none;
   position: relative;
   font-size: 13px;
   color: #4c5262;
   margin-right: 25px;
   cursor: pointer;
   transition: .3s linear;
}
header .song_side nav ul li:hover{
    color: white;
 }
 header .song_side nav ul li:nth-child(1){
    color: white;
 }
 header .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left:0;
    border-radius: 20px;
 }

 header .song_side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid white; */
    color: gray;
 }
 header .song_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184,184,184,0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
 }
 header .song_side nav .search .bx{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
 }
 header .song_side nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: white;
    font-size: 12px;
 }
header .song_side nav .user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
header .song_side nav .user img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    box-shadow: 2px 2px 8px #121213;
}
header .song_side .content{
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
}
header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
}
header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}
header .song_side .content .buttons{
    margin-top: 15px;
}
header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: white;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side .content .buttons button:hover{
    background: none;
    color: #36e2ec;
}
header .song_side .content .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
}
header .song_side .content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #fff;
}
header .song_side .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px; 
}
header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .song_side .popular_song .h4 .bx{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear; 
}
header .song_side .popular_song .h4 .bx:hover{
    color: white;
}
header .song_side .popular_song .pop_song{
    width: 100%;
    max-width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
header .song_side .popular_song .pop_song::-ms-scrollbar {
    display: none;
}
header .song_side .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}
header .song_side .popular_song .pop_song li{
    min-width: 100px;
    height: 152px;
    list-style-type: none;
    margin-right: 20px;
    transition: .3s linear;
}
header .song_side .popular_song .pop_song li:hover{
    background: rgb(105,105,170,.1);
}
header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}
header .song_side .popular_song .pop_song li .img_play .bx{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}
header .song_side .popular_song .pop_song li:hover .img_play .bx{
    opacity: 1;
}
header .song_side .popular_song .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header .song_side .popular_song .pop_song li h5 .subtitle{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}
header .song_side .popular_artist{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px; 
}
header .song_side .popular_artist .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .song_side .popular_artist .h4 .bx{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear; 
}
header .song_side .popular_artist .h4 .bx:hover{
    color: white;
}
header .song_side .popular_artist .item{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}
header .song_side .popular_artist .item::-webkit-scrollbar{
    display: none;
}
header .song_side .popular_artist .item li{
    list-style-type: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
}
/* header .song_side .popular_song .pop_song li:hover{
    background: rgb(105,105,170,.1);
} */
header .song_side .popular_artist .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}